
$color-primary: #3498db;        
$color-secondary: #2ecc71;        

$color-text-dark: #1D1C39;
$color-text-black: #0B0E1F;      
$color-text-blue:#4461D7;       
$color-text-pink: #FF22B1; 
$color-text-gray: #494E6A;      

$color-background-white: #FFFFFF;
$color-background-violet: #EAEEF4; 
$color-background-dark: #34495e;  



$font-family-main: 'Work Sans', sans-serif; 

$font-size-base: 16px; 

$font-size-h1: 40px; 
$font-size-h2: 28px; 
$font-size-h3: 21px; 
$font-size-p: 16px;
$font-size-p2: 18px;
$font-size-small2: 15px; 
$font-size-small: 14px; 

$line-height-base: 1.6;


$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;


$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;

$border-radius-base: 4px;
$transition-speed: 0.3s;